.reli-inserter a{
    text-decoration: none;
    border: 1px solid dodgerblue;
    width: 15px;
    display: block;
    float: left;
    height: 15px;
    margin-right: 5px;
}
.reli-inserter.remove a{
    color: red;
    font-size: 20px;
    line-height: 0.3;
    padding-left: 2px;
}
.reli-inserter a:after{
    content:' '
}
.reli-inserter.remove a:after{
    content:'x'
}
#editor .custom-toolbar {
    /*width: 100%;*/
    position: relative;
}

#template-config-box{
    position: absolute;
    z-index: 20;
    top: 60px;
    background-color: #fff;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 3px #444;
    padding: 10px;
    display: none;
}

.is-tertiary{
    /*border:1px solid #006BA1;*/
}
.block-header input{
    font-family:  'Architects Daughter', Sans-Serif!important;
    color: var(--headings-color);
}

.wp-block-post-featured-image::before {
    content: 'Beitragsbild wählen';
}

.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip-box{
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: justify;
    text-align-last: unset;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -35px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip-box > *{
    text-align: center;
}
.tooltip-box a{
    color: white;
}
.tooltip:hover .tooltip-box{
    visibility: visible;
    opacity: 1;
}


