.reli-inserter a {
    text-decoration: none;
    border: 1px solid dodgerblue;
    width: 15px;
    display: block;
    float: left;
    height: 15px;
    margin-right: 5px;
}

.reli-inserter.remove a {
    color: red;
    font-size: 20px;
    line-height: 0.3;
    padding-left: 2px;
}

.reli-inserter a:after {
    content: ' '
}

.reli-inserter.remove a:after {
    content: 'x'
}

#editor .rpi-material-toolbar {
    /*width: 100%;*/
    position: relative;
}

#template-config-box {
    position: absolute;
    z-index: 20;
    top: 60px;
    background-color: #fff;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 3px #444;
    padding: 10px;
    display: none;
}

.is-tertiary {
    /*border:1px solid #006BA1;*/
}

.block-header input {
    font-family: 'Architects Daughter', Sans-Serif !important;
    color: var(--headings-color);
}

.wp-block-post-featured-image::before {
    content: 'Beitragsbild';
    position: absolute;
    z-index: 10;
    background: #fff;
    opacity: 0.5;
    padding: 0 10px;
    text-align: center;
    display: block;
    width: 100%;
}

.wp-block-post-featured-image img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.3);
}

.tooltip {
    color: #00a66f;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #00a66f;
}

.tooltip:hover {
    color: #e830b5;
    border-bottom: 1px dotted #e830b5;
}

.tooltip-box {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: justify;
    text-align-last: unset;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 10;
    bottom: 100%;
    left: 50%;
    margin-left: -35px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-box > * {
    text-align: center;
}

.tooltip-box a {
    color: white;
}

.tooltip:hover .tooltip-box {
    visibility: visible;
    opacity: 1;
}


.lazyblock .rich-text [data-rich-text-placeholder]::after {

    content: 'Tippe deine Antwort oder füge deine Inhalte hier ein' !important;
    opacity: .62;

}

/**
Highlight blocks after insert
 */
.highlight{
    background-color: lightgoldenrodyellow;
    border:3px solid yellow;
}

/**
Quellennachweis Block
 */
.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-btn-drag {
    top: 156%!important;
    left: -5px!important;
    font-size: 20px!important;
}
.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-btn{
    font-size: 0;
    padding:0!important;
}
.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-item-content{
    margin-top: -15px!important;
    margin-left: -0px!important;
}
.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-item-content input[type="text"] {
    border: 1px solid lightskyblue !important;
}
.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-item-content select {
    border: 1px solid lightskyblue !important;
    height:35px!important;
}
.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-item-content div{
    border:0!important;
}
