:root {
    --reli-accent-color: var(--linkInitialColor);
    --reli-accent-color-hover: var(--linkHoverColor);
    --reli-accent-background: #fff;
    --reli-accent-background-hover: #e0e0e0;
    --reli-background-color: #DCE2F0;
    --reli-pink-accent-color: #fe228c;
    --reli-blue-accent-color: #04a3e5;
    --reli-yellow-accent-color: #e7c945;
}

body,.editor-styles-wrapper {
    scroll-behavior: smooth;
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title{
    margin-left: 0;
}
.wp-block .block-editor-rich-text__editable{
    font-size: 16px;
}
.editor-styles-wrapper.block-editor-writing-flow{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 0 var(--boxed-content-spacing);
    margin-top: var(--boxed-content-spacing);
    margin-bottom: var(--boxed-content-spacing);
}

.edit-post-visual-editor__post-title-wrapper {
    display: flex;
    background-color: var(--reli-background-color);
    margin: calc(var(--boxed-content-spacing)*-1) calc(var(--boxed-content-spacing)*-1) var(--boxed-content-spacing) ;
    padding: var(--boxed-content-spacing) var(--boxed-content-spacing) 0;
    height: fit-content;
    border-bottom: 2px solid var(--headings-color);
}

.reli-inserter a {
    text-decoration: none;
    border: 1px solid dodgerblue;
    width: 15px;
    display: block;
    float: left;
    height: 15px;
    margin-right: 5px;
}

.reli-inserter.remove a {
    color: red;
    font-size: 20px;
    line-height: 0.3;
    padding-left: 2px;
}

.reli-inserter a:after {
    content: ' '
}

.reli-inserter.remove a:after {
    content: 'x'
}

#editor .rpi-material-toolbar {
    /*width: 100%;*/
    position: relative;
}

#template-config-box {
    position: absolute;
    z-index: 20;
    top: 60px;
    background-color: #fff;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 3px #444;
    padding: 10px;
    display: none;
}

.is-tertiary {
    /*border:1px solid #006BA1;*/
}

.block-header input {
    font-family: 'Architects Daughter', Sans-Serif !important;
    color: var(--headings-color);
}

/*.wp-block-post-featured-image::before*/

.wp-block-post-featured-image.wp-block-post-featured-image .components-placeholder::before {
    content: 'Beitragsbild: Ziehe deine Bilddatei auf diesen Block';
    position: absolute;
    z-index: 10;
    background: #fff;
    opacity: 0.7;
    padding: 0 10px;
    text-align: center;
    /*display: block;*/
    /*width: 100%;*/
    color: orangered;
    font-size: 13px;
}

.wp-block-post-featured-image.is_valid::before {
    content:"✔️";
    position: absolute;
    top: -3px;
    right: 1px;
    text-align: right;
}
.wp-block-post-featured-image::after {

}
.wp-block-post-featured-image img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    box-shadow: 2px 2px 13px 2px rgba(0, 0, 0, 0.3);
}

.tooltip {
    color: #00a66f;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #00a66f;
}

.tooltip:hover {
    color: #e830b5;
    border-bottom: 1px dotted #e830b5;
}

.tooltip-box {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: justify;
    text-align-last: unset;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 10;
    bottom: 100%;
    left: 50%;
    margin-left: -35px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-box a {
    color: white;
}

.tooltip:hover .tooltip-box {
    visibility: visible;
    opacity: 1;
}


.lazyblock .rich-text [data-rich-text-placeholder]::after {

    content: 'Tippe oder füge deine Inhalte hier ein. (Du kannst auch Dateien/Bilder hier her ziehen)' !important;
    opacity: .40!important;
    font-size: smaller;

}
.lazyblock .components-text-control__input::placeholder{

    color: #bbb;

}

.lzb-content-controls.is_valid:before{
    content:"✔️";
    position: absolute;
    top: -3px;
    right: 1px;
    text-align: right;
}
/*
.lazyblock.is_valid:before{
    content:"✔️";
    position: absolute;
    top: -3px;
    right: 1px;
    text-align: right;
}
*/
.acf-field-toCheck:before{
    content:"Bitte ausfüllen";
    position: absolute;
    top: -3px;
    right: 1px;
    text-align: right;
    color: green;
}
/**
dialog tickbox modifications
 */
.tb_bottom_bar{
    width:100%;
    display: block;
    background-color: #ccc;
    text-align: center;
    padding: 3px 0px;
}
.tb_bottom_bar button{
    min-width: 100px;
}
/**
Highlight blocks after insert
 */
.highlight{
    background-color: lightgoldenrodyellow;
    border:3px solid yellow;
}

/**
Quellennachweis Block
 */
.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-btn-drag {
    top: 156%!important;
    left: -5px!important;
    font-size: 20px!important;
}
.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-btn{
    font-size: 0;
    padding:0!important;
}
.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-item-content{
    margin-top: -15px!important;
    margin-left: -0px!important;
}
.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-item-content input[type="text"] {
    border: 1px solid lightskyblue !important;
}
.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-item-content select {
    border: 1px solid lightskyblue !important;
    height:35px!important;
}
.lzb-gutenberg-repeater-item .lzb-gutenberg-repeater-item-content div{
    border:0!important;
}
